<!-- slider Area Start -->
<app-slider></app-slider>

<!-- slider Area End-->
<!-- Category Area Start-->
<app-category-area></app-category-area>
<!-- Category Area End-->
<!-- Latest Products Start -->
<app-latest-product></app-latest-product>
<!-- Latest Products End -->
<!-- Best Product Start -->
<app-best-product></app-best-product>
<!-- Best Product End-->
<!-- Best Collection Start -->
<app-best-collection></app-best-collection>
<!-- Best Collection End -->
<!-- Latest Offers Start -->
<app-latest-offers></app-latest-offers>
<!-- Latest Offers End -->
<!-- Shop Method Start-->
<app-shop-method></app-shop-method>
<!-- Shop Method End-->
<!-- Gallery Start-->
<app-gallery></app-gallery>
<!-- Gallery End-->